@import url(https://fonts.googleapis.com/css2?family=Cormorant+Garamond&family=Outfit:wght@400;

700&display=swap);
@charset "UTF-8";
* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #D7D7D7;
  line-height: 32px;
  letter-spacing: 0.4px;
  font-weight: 400;
  font-style: normal;
  font-family: "Outfit", sans-serif;
  font-size: 1.25rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Outfit", sans-serif;
  font-size: inherit;
  line-height: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: transparent;
}

a {
  color: inherit;
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  background: #161D27;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

@supports (overflow: clip) {
  .wrapper {
    overflow: clip;
  }
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стилі будуть застосовуватись до
всіх класів, що містять *__container
Наприклад header__container, main__container і т.п.
Сніппет (HTML): cnt
*/

[class*=__container] {
  max-width: 86.875rem;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.header {
  position: absolute;
  width: 100%;
  max-height: 255px;
  z-index: 2;
}

.header__container {
  padding-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header__logo {
  max-width: 400px;
}

.heder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  padding-bottom: 25px;
}

.buts {
  width: 350px;
  height: 85px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  border: 1px solid rgba(255, 255, 255, 0.1);
  background: rgba(255, 255, 255, 0.1);
  color: #FFF;
  text-align: center;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 35.2px;
  /* 160% */
  letter-spacing: 0.4px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.buts:hover {
  -webkit-transform: scale(0.9);
      -ms-transform: scale(0.9);
          transform: scale(0.9);
  background: rgba(255, 255, 255, 0.15);
  border-radius: 5px;
  color: #D1B06B;
}

.foote {
  padding-top: 25px;
  padding-bottom: 30px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__menu {
  padding: 19px 0;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 55px;
}

.menu__item {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.menu__item:hover {
  color: #D1B06B;
}

.inform-heder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
}

.call {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 12px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.call-img {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.call-img:hover {
  -webkit-transform: scale(0.9);
      -ms-transform: scale(0.9);
          transform: scale(0.9);
}

.call-text1 {
  color: #D1B06B;
  font-family: Outfit;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28.8px;
  /* 160% */
  letter-spacing: 0.4px;
}

.call-text2 {
  color: #FFF;
  font-family: Outfit;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 26.4px;
  /* 120% */
  letter-spacing: 0.4px;
}

.email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 12px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.email-img {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.email-img:hover {
  -webkit-transform: scale(0.9);
      -ms-transform: scale(0.9);
          transform: scale(0.9);
}

.email-text1 {
  color: #D1B06B;
  font-family: Outfit;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28.8px;
  /* 160% */
  letter-spacing: 0.4px;
}

.email-text2 {
  color: #FFF;
  font-family: Outfit;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 26.4px;
  /* 120% */
  letter-spacing: 0.4px;
}

.ff {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.no-webp .block1{
  background-image: url("img/block1/IMAGE.png"); }

.block1 {
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  margin-bottom: 140px;
}

.block1::before {
  content: "";
  display: block;
  width: 100%;
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(31, 39, 50, 0.81);
}

.block1__container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 16px;
  padding-top: 270px;
}

.block1__body {
  max-width: 670px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.block1__body-decor {
  width: 95px;
  height: 44px;
}

.block1__body-titl {
  color: #fff;
  font-family: Cormorant Garamond;
  font-size: 65px;
  font-weight: 400;
  line-height: 78px;
  /* 120% */
  letter-spacing: 0.4px;
}

.block1__body-text {
  color: #d1b06b;
  font-size: 22px;
  font-weight: 400;
  line-height: 39.6px;
  /* 180% */
  letter-spacing: 0.4px;
  margin-bottom: 28px;
}

.button {
  width: 269px;
  height: 85px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  border: 1px solid #d1b06b;
  background: #d1b06b;
  color: #1f2732;
  text-align: center;
  font-family: Outfit;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 35.2px;
  /* 160% */
  letter-spacing: 0.4px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.button:hover {
  -webkit-transform: scale(0.9);
      -ms-transform: scale(0.9);
          transform: scale(0.9);
  border-radius: 5px;
}

.block2__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 62px;
  margin-bottom: 140px;
}

.block2__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
}

.block2__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 27px;
}

.block2__body-titl {
  color: #fff;
  font-family: Cormorant Garamond;
  font-size: 45px;
  font-weight: 400;
  line-height: 58.5px;
  /* 130% */
  letter-spacing: 0.4px;
  text-transform: capitalize;
}

.block2__body-text {
  margin-bottom: 13px;
}

.block2__body-men {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  margin-bottom: 13px;
}

.block2__men-names {
  color: #fff;
  font-family: Cormorant Garamond;
  font-size: 40px;
  line-height: 52px;
  /* 130% */
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.block2__body-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}

.block2__info1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
  background: #3b434e;
  width: 315px;
  height: 126px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.block2__info1-text {
  font-size: 22px;
  line-height: 28.6px;
  /* 130% */
}

.block2__info2-text {
  color: #1f2732;
  font-size: 22px;
  line-height: 28.6px;
  /* 130% */
}

.block2__info2 {
  width: 315px;
  height: 126px;
  background: #d1b06b;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}

.block2__info2-numbers {
  width: 81px;
  height: 59px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  border-radius: 5px;
  background: #161d27;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  font-size: 30px;
  line-height: 39px;
  /* 130% */
}

.block3__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 130px;
  margin-bottom: 60px;
}

.block3__left-titl {
  color: #fff;
  font-family: Cormorant Garamond;
  font-size: 45px;
  line-height: 58.5px;
  /* 130% */
  text-transform: capitalize;
}

.block3__right {
  max-width: 660px;
}

.block4__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
  margin-bottom: 140px;
}

.block4__colums {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}

.block4__item {
  padding: 55px 50px 70px 55px;
  background: #1f2732;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.block4__item-titl {
  color: #fff;
  font-family: Cormorant Garamond;
  font-size: 35px;
  line-height: 56px;
  /* 160% */
  margin-bottom: 8px;
}

.block4__item-text {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding-bottom: 54px;
  border-bottom: 1px solid #4e555f;
}

.block4__item-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 90px;
  padding-top: 26px;
}

.block4-btn {
  width: 187px;
  height: 58px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  background: #161d27;
  color: #fff;
  text-transform: capitalize;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.block4-btn:hover {
  -webkit-transform: scale(0.9);
      -ms-transform: scale(0.9);
          transform: scale(0.9);
  border-radius: 5px;
  color: #d1b06b;
}

.block5 {
  background-color: #fff;
}

.block5__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 125px;
  padding-bottom: 80px;
  gap: 28px;
}

.block5__titl {
  color: #161d27;
  text-align: center;
  font-family: Cormorant Garamond;
  font-size: 45px;
  font-weight: 400;
  line-height: 54px;
  /* 120% */
  text-transform: capitalize;
}

.block5__text {
  color: #909090;
  text-align: center;
}

.block5__colums {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 31px;
  width: 100%;
}

.block5__item {
  background-color: #fbfbfb;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
  padding: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}

.block5__item-body {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.it-titl {
  color: #1f2732;
  font-family: Cormorant Garamond;
  font-size: 30px;
  line-height: 42px;
  /* 140% */
}

.it-text {
  color: #909090;
  text-transform: capitalize;
}

.bod-titl {
  color: #fff;
  font-size: 30px;
  line-height: 39px;
  /* 130% */
}

.bod-text {
  color: #fff;
  line-height: 26px;
  /* 130% */
}

.no-webp .it-bg{
  background-image: url("img/block5/bgj.jpg"); }

.it-bg {
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
  padding: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}

.webp .block1{ background-image: url(img/block1/IMAGE.webp); }

.webp .it-bg{ background-image: url(img/block5/bgj.webp); }